body {
    font-family: arial, sans-serif;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.Arrived {
  background-color: rgb(159, 161, 154);
}

.Ready {
  background-color: rgb(5, 200, 219);
}

.Delivered {
  background-color: rgb(54, 209, 28);
}
